.background{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh; 
    background: url('../images/plans-background.jpg') left 50% top 20% no-repeat;
    filter: grayscale(40%);
    box-sizing: border-box;
    z-index: -1;
}
.plans-section{
    margin: 1rem 0px;
    padding: 1rem 2rem;
    border: 4px solid rgb(2, 54, 2);
    border-left: 0px;
    background-color: rgb(166, 226, 166);
    position: relative;
}

@media (min-width:34rem){
    .plans-section{
        width: 90%;
    }
}

@media (min-width:40rem){
    .plans-section{
        width: 70%;
    }
    .background{
        background: url('../images/plans-background.jpg') center no-repeat;
    }
}

.plans-area{
    text-decoration: none;
    display: block;
}

.plans-section:hover,
.plans-section:hover{
    border: 4px solid red;
    border-left: 0px;
}

.first-plan{
    margin-top: 5rem;
}

.plans-section-headeing{
    color: black;
    font-family: inherit;
    text-decoration: none;
}

.plans-section-badge{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0.3rem;
    color: white;
    font-size: 1rem;
    background-color: #ff5454;
    padding: 0.4rem;
    animation: recommended 1.2s infinite;
    z-index: 10;
}

@keyframes recommended{
    0%{     background-color: #ff5454;    }
    49%{    background-color: #ff5454; }
    60%{    background-color: transparent; color: black; }
    99%{    background-color:transparent; color: black;  }
    100%{   background-color: #ff5454;    }
}

.plans-section-description{
    color: rgb(146, 145, 145);
}

.plans-section-details{
    width: 90%;
    border: 1px solid rgb(2, 54, 2);
    color: rgb(2, 54, 2);
    background-color: white;
    padding: 1rem;
}

.free-plan{
    background-color: #abcfab;
    float: right;
    border-left: 4px solid rgb(2, 54, 2);
    border-right: 0px;
}
.free-plan:hover,
.free-plan:active{
    border-left: 4px solid red;
    border-right: 0px;
}
.clearFix{
    clear: both;
}


.premium-plan{
    background-color: rgb(2, 54, 2);
}

.premium-plan .plans-section-headeing{
    color: white;
}